.container-fluid {
  max-width: 2000px;
  margin: 25px auto 0;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-y: scroll;
}

#showFixed {
  display: inline;
  float: right;
  color: #999;
  line-height: 36px;
  margin-bottom: 0;
}
  #showFixed input {
    position: relative;
    top: -2px;
    margin-right: 5px;
  }

.browser_icon {
  position: relative;
  top: -2px;
  margin-right: 10px;
}

.browsers {
  float: right;
}
.browsers .browser_icon {
  margin-right: 3px;
}

.well {
  padding: 8px 0;
  border-radius: 0;
}

.error {
  color: #722;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  background: #f0f0f0;
  border-top: 1px solid #ddd;
  font-size: 12px;
  box-shadow: inset 0 1px 0 #fff;
  height: 34px;
  line-height: 34px;
  overflow: hidden;
}

.generation-time {
  float: left;
  color: #aaa;
}

#languages {
  position: absolute;
  top: 0;
  right: 10px;
}

#languages a {
  margin-right: 5px;
  color: #777;
}
  #languages a.active {
    color: #ccc;
    cursor: text;
  }
    #languages a.active:hover {
      text-decoration: none;
    }

#data .badge {
  position: relative;
  top: -2px;
  padding: 0 7px 1px;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.2);
  font-size: 9px;
}

.fixed {
  text-decoration: line-through;
}
#data .fixed td, .modal-body .fixed td, .fixed a, .fixed .error {
  color: #999;
  background: #eee;
}
.fixed .badge {
  background-color: #ccc;
}
.fixed img {
  opacity: 0.2;
  -moz-opacity: 0.2;
  filter:alpha(opacity=2);
}

#data th .badge {
  background-color: #eee;
}

#data tr.noErrors td, #database-disabled {
  padding: 25px 8px;
  font-size: 16px;
  text-align: center;
  background: #fff;
  color: #999;
}

.has-popup {
  cursor: pointer;
}

#logo {
  position: absolute;
  top: 0;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 18px;
  line-height: 34px;
  color: #bbb;
  text-shadow: 0 1px 0 #f5f5f5;
  cursor: default;
  -webkit-transition: color 0.3s;
     -moz-transition: color 0.3s;
       -o-transition: color 0.3s;
          transition: color 0.3s;
}
  #logo:hover {
    color: #999;
  }

.modal-backdrop {
  background: #000811;
}

table .cell-right {
  text-align: right;
}

table .cell-center {
  text-align: center;
}

#error-modal {
  width: 960px;
  margin-left: -480px;
}

#error-modal .modal-header {
  background: #ddd;
  border-bottom-color: #bbb;
  border-radius: 6px 6px 0 0;
}

#error-modal h3 {
  text-shadow: 0 1px 0 #eee;
  font-weight: normal;
}

.fixed-checkbox {
  position: relative;
  top: -2px;
}

.secondary {
  font-style: italic;
}

#clear-all {
  display: inline;
  float: left;
  margin: 4px 10px;
  padding: 0 10px;
  cursor: pointer;
  height: 24px;
  line-height: 20px;
  border-radius: 3px;
  border: none;
  background: #ce6c6c;
  color: #fff;
  box-shadow: inset 0 0 0 1px #a55050, inset 0 2px 0 #cc9a9a;
}

#clear-all:hover {
  background: #de7c7c;
}

#clear-all:active {
  background: #b44e4e;
  box-shadow: inset 0 0 4px rgba( 0, 0, 0, 0.5 );
}

pre {
  width: 100%;
  overflow: hidden;
  font-size: 16px;
  margin-bottom: 50px;
}

.line .error {
  background: #f7d6d5;
}

.error .script-line-number {
  color: #722;
}

.script-line-code {
  overflow: hidden;
  text-overflow: ellipsis;
}

.script-line-number {
  color: #aaa;
  display: inline;
  float: left;
  text-align: right;
  width: 2.5em;
  margin-right: 1em;
}
