/* TODO: Add normalize.css */
html, body {
    padding: 0;
    margin: 0;
}

html, body, .container, .menu, .content {
    height: 100%;
}

.container {
    font: 15px/1.5 sans-serif;
}

.menu {
    float: left;
    color: rgb(255, 255, 255);
    background: rgb(53, 64, 80);
}

.nav {
    margin: 10px 0;
}

.nav__link {
    display: block;
    padding: 5px 20px;
    min-width: 120px;

    color: rgb(160, 171, 188);
    text-decoration: none;
}

.nav__link_active {
    color: rgb(255, 255, 255);
    background: rgb(47, 57, 72);
}

.content {
    overflow: hidden;
    background: rgb(236, 242, 246);
}

.report {
    margin: 30px;
}

.report__table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;

    color: rgb(48, 52, 54);
}

.report__row {
    border-bottom: 1px solid rgb(217, 229, 236);
}

.report__cell {
    padding: 3px 10px;
    vertical-align: top;
}

.report__cut {
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
}

.report__cell_count {
    width: 70px;
    text-align: right;
}

.report__cell_timespan {
    width: 200px;
}

.report__link {
    color: rgb(0, 109, 170);
    text-decoration: none;
}

.report__link:hover {
    color: rgb(21, 135, 199);
}

.timespan {
    position: relative;
    height: 22px;
}

.timespan__bar {
    position: absolute;
    top: 8px;
    bottom: 8px;

    background: rgb(186, 202, 214);
}

.timespan__point {
    position: absolute;
    top: 50%;
    width: 6px;
    height: 6px;
    margin-top: -3px;

    border-radius: 50%;
    background: rgb(174, 192, 206);
}

.timespan__point_start {
    margin-left: -3px;
}

.timespan__point_end {
    margin-right: -3px;
}

.browsers {
    display: inline-block;
}

.browsers_right {
    display: inline;
    float: right;
}

.browsers__item {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: -0.2em 2px 0;

    vertical-align: middle;
    background: url('/static/browser-unknown.png') 50% 50% no-repeat;
}

.browsers__item_ie, .browsers__item_ie-mobile {
    background-image: url('/static/browser-ie.png');
}

.browsers__item_android-browser {
    background-image: url('/static/browser-android.png');
}

.browsers__item_chrome {
    background-image: url('/static/browser-chrome.png');
}

.browsers__item_firefox {
    background-image: url('/static/browser-firefox.png');
}

.browsers__item_opera {
    background-image: url('/static/browser-opera.png');
}

.browsers__item_safari {
    background-image: url('/static/browser-safari.png');
}
