/* TODO: Add normalize.css */
html, body {
    padding: 0;
    margin: 0;
}

._u {
    border-bottom: 1px solid;
}

._i {
    font-style: italic;
}

html, body, .app, .container, .menu, .content {
    height: 100%;
}

.container {
    font: 16px/1.5 "Source Sans Pro", sans-serif;
    color: rgb(66, 74, 78);
}

.menu {
    float: left;
    color: rgb(223, 227, 233);
    background: rgb(53, 59, 80);
}

.logo {
    font: 300 18px/20px "Raleway" sans-serif;
}

.logo__info {
    float: right;
    width: 20px;
    height: 20px;

    color: rgb(97, 106, 119);
    box-shadow: 0 0 0 1px rgb(97, 106, 119);
    border-radius: 50%;
}

.nav__logo {
    padding: 18px;
    margin-bottom: 10px;
}

.nav__link {
    display: block;
    padding: 4px 18px;
    min-width: 140px;

    line-height: 24px;
    color: rgb(160, 171, 188);
    text-decoration: none;
}

.nav__link_active {
    /*color: rgb(163, 210, 216);*/
    color: rgb(214, 222, 231);
    background: rgb(47, 52, 72);
}

.nav__icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 10px;

    vertical-align: top;
}

.content {
    position: relative;
    overflow-x: hidden;
    background: rgb(236, 242, 246);
}

.screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    visibility: hidden;
}

.title {
    margin-bottom: 1em;
    overflow: hidden;

    font-size: 18px;
    line-height: 1.3;
    color: rgb(10, 10, 10);
}

.title_muted {
    color: rgb(160, 170, 175);
}

.title_big {
    font-size: 24px;
}

.report, .dashboard {
    margin: 28px 35px;
}

.report {
    /* Padding for notices. */
    padding-top: 35px;
}

.report__table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.report__table_details {
    width: 500px;
}

.report__row {
    border-bottom: 1px solid rgb(217, 229, 236);
}

.report__row_head {
    border-bottom-color: rgb(203, 218, 226);
}

.report__row_clickable:hover {
    cursor: pointer;
    color: rgb(0, 109, 170);
}

.report__cell {
    padding: 5px 10px;

    font-weight: 400;
    vertical-align: top;
    text-align: left;
}

.report__cell:first-child {
    padding-left: 0
}

.report__cell:last-child {
    padding-right: 0
}

.report__cell_head {
    padding-top: 8px;
    padding-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: rgb(153, 167, 177);
}

.report__cut {
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
}

.report__mono {
    font: 13px/24px Consolas, Menlo, monospace;
}

.report__cell_count {
    width: 50px;
    padding-right: 5px;

    text-align: right;
}

.report__cell_delta {
    width: 25px;
    padding-left: 5px;

    text-align: right;
    color: rgb(153, 167, 177);
}

.report__cell_timespan {
    width: 200px;
}

.notice {
    position: absolute;
    top: 22px;
    left: 35px;
    right: 35px;
    padding-left: 35px;

    color: rgb(226, 140, 107);
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
}

.notice:hover {
    color: rgb(230, 96, 44);
}

.notice__icon {
    position: absolute;
    top: 0;
    left: 0;

    width: 24px;
    height: 24px;
}

.counter {
    position: absolute;
    top: 22px;
    right: 35px;

    font-size: 14px;
    line-height: 24px;
    color: rgb(153, 167, 177);
    cursor: pointer;
}

.counter:hover {
    color: rgb(0, 109, 170);
}

.counter_hidden {
    display: none;
}

.timespan {
    position: relative;
    height: 24px;
}

.timespan__bar {
    position: absolute;
    top: 9px;
    bottom: 9px;

    background: rgb(186, 202, 214);
}

.timespan__point {
    position: absolute;
    top: 50%;
    width: 6px;
    height: 6px;
    margin-top: -3px;

    border-radius: 50%;
    background: rgb(174, 192, 206);
}

.timespan__point:hover {
    background: rgb(16, 22, 31)
}

.timespan__point:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    bottom: -10px;
}

.timespan__point_start {
    margin-left: -3px;
}

.timespan__point_end {
    margin-right: -3px;
}

.timespan__tooltip {
    display: none;
    position: absolute;
    right: 12px;
    top: 50%;

    min-width: 150px;
    height: 42px;
    margin-top: -25px;
    padding: 4px;

    font-size: 14px;
    text-align: center;
    color: rgb(220, 220, 220);
    background: rgba(16, 22, 31, 0.9);
    border-radius: 3px;
}

.timespan__tooltip:after {
    content: '';
    position: absolute;
    right: -4px;
    top: 50%;

    margin-top: -4px;

    border-left: 4px solid rgba(16, 22, 31, 0.9);
    border-top: 4px solid rgba(16, 22, 31, 0);
    border-bottom: 4px solid rgba(16, 22, 31, 0);
}

.timespan__tooltip:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: -20px;

    width: 20px;
}

.timespan__point:hover .timespan__tooltip {
    display: block;
}

.timespan__caption {
    color: rgb(142, 147, 153);
}

.browsers {
    display: inline-block;
    margin-right: 6px;
}

.browsers_right {
    display: inline;
    float: right;
    margin-right: 0;
    margin-left: 20px;
}

.browsers:empty {
    margin: 0;
}

.browsers__item {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: -0.2em 2px 0;

    vertical-align: middle;
    background: url('/static/browser-unknown.png') 50% 50% no-repeat;
}

.browsers__item_ie, .browsers__item_ie-mobile {
    background-image: url('/static/browser-ie.png');
}

.browsers__item_android {
    background-image: url('/static/browser-android.png');
}

.browsers__item_chrome {
    background-image: url('/static/browser-chrome.png');
}

.browsers__item_firefox {
    background-image: url('/static/browser-firefox.png');
}

.browsers__item_opera {
    background-image: url('/static/browser-opera.png');
}

.browsers__item_safari {
    background-image: url('/static/browser-safari.png');
}

.browsers__item_mobile-safari {
    background-image: url('/static/browser-ipad.png');
}

.curtain {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;

    width: 500px;
    padding: 20px;

    visibility: visible;
    background: rgba(244, 248, 252, 0.95);
    box-shadow: -1px 0 rgba(0, 10, 20, 0.05);

    -webkit-transform: translateX(540px);
    transform: translateX(540px);
    transition: 0.25s;
}

.curtain_visible {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.curtain__close {
    float: right;
    position: relative;
    width: 16px;
    height: 16px;
    margin: 1px 0 10px 10px;

    cursor: pointer;
}

.graph__axis {
    stroke: rgb(217, 229, 236);
}

.graph__day {
    font-size: 13px;
    fill: rgb(153, 167, 177);
    -webkit-font-smoothing: antialiased;
}

.graph__label {
    display: none;
    text-anchor: middle;
    -webkit-font-smoothing: antialiased;
}

.graph__bar-group:hover .graph__label {
    display: block;
}

.graph__bar {
    fill: rgb(153, 167, 177);
}
